:root {
    --primary-hue: 48deg;
    --primary-sat: 88%;
    
    --link-color: var(--primary600);
    --link-hover-color: var(--primary700);
    
    --blockquote-color: var(--primary600);
}
